<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <template v-for="(title, i) in cars">
        <div class="card">
          <h1>{{ title }}</h1>
          <p>index: {{ i }}</p>
        </div>
      </template>
    </div>

    <script src="index.js"></script>
  </body>
</html>
