<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(car, i) in cars">{{ car }} ( {{ i }} )</li>
      </ul>
      <ol>
        <li v-for="(city, i) in cities">{{ city }} [ {{ i }} ]</li>
      </ol>
    </div>

    <script src="index.js"></script>
  </body>
</html>
