<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Users</h1>

      <template v-for="user in users">
        <div class="card">
          <div v-for="(value, key, index) in user">
            {{ key }} : {{ value}} ({{ index }})
          </div>
        </div>
      </template>
    </div>

    <script src="index.js"></script>
  </body>
</html>
