<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button v-on:click="increase(2, $event)">Click me</button>
      <p>{{ counter }}</p>
      <p v-on:mousemove="updateCoordinates">
        Coordinates: {{ x }} / {{ y }} - <span v-on:mousemove.stop>DEAD SPOT</span>
      </p>
    </div>

    <script src="index.js"></script>
  </body>
</html>
