<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue-instance</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{ title }}</h1>
      <button @click="title = 'Changed'">Update Title</button>
      <button @click="destroy">Destroy</button>
    </div>

    <script src="index.js"></script>
  </body>
</html>
