<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1 v-once>{{ title }}</h1>
      <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
      <hr />
      <p v-html="finishedLink"></p>
    </div>

    <script src="index.js"></script>
  </body>
</html>
