<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button v-on:click="counter++">увеличить</button>
      <button v-on:click="counter--">уменьшить</button>
      <button v-on:click="secondCounter++">увеличить (second)</button>
      <p>Counter: {{ counter }} | {{ secondCounter }}</p>
      <p>Result: {{ result() }} | {{ output }}</p>
    </div>

    <hr />
    <p>[!] See console</p>

    <script src="index.js"></script>
  </body>
</html>
