<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <p v-if="show" class="green">я зеленая полоска</p>
      <p v-else class="red">я красная полоска</p>
      <p>Do you also see me?</p>
      <button @click="show = !show">Переключить</button>
    </div>

    <script src="index.js"></script>
  </body>
</html>
