<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue-instance</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <!-- vue instance №1 -->
    <div id="app1">
      <h1 ref="heading">{{ title }}</h1>
      <button v-on:click="show" ref="myButton">Show Paragraph</button>
      <p v-if="showParagraph">This is not always visible</p>
    </div>

    <!-- vue instance №2 -->
    <div id="app2">
      <h1>{{ title }}</h1>
      <button @click="onChange">Change something in Vue 1</button>
      <component></component>
      <component></component>
    </div>

    <!-- vue instance №3 -->
    <div id="app3"></div>

    <script src="index.js"></script>
  </body>
</html>
