<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- template #1 -->
      <template v-if="show">
        <div class="template-one">
          <h1>шаблон 1</h1>
          <p>Inside a template</p>
        </div>
      </template>
      <!-- template #2 -->
      <template v-else>
        <div class="template-two">
          <h1>шаблон 2</h1>
          <p>Inside a template</p>
        </div>
      </template>
      <button @click="show = !show">Switch</button>
    </div>

    <a
      href="https://vuejs.org/v2/guide/conditional.html#Conditional-Groups-with-v-if-on-lt-template-gt"
      >Conditional Groups with v-if on <template></template
    ></a>

    <script src="index.js"></script>
  </body>
</html>
