<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Добавление нового элемента в конец списка (массива)</h1>

      <ul>
        <li v-for="(car, i) in cars" :key="car">{{ car }} ( {{ i }} )</li>
      </ul>
      <button @click="cars.push('new car')">Add New</button>
    </div>

    <script src="index.js"></script>
  </body>
</html>
